<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Edit Product</h1>




          <%= render 'form.html.erb', message: "Update Product", url: "/products/#{@product.id}", form_method: :patch  %>


      </div>
    </div>
  </div>
</section>
