    <section>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="product_single">
            <h1>Create a new nerdy product:</h1>

                <%= render 'form.html.erb', message: "Process New Nerdiness", url: "/products", form_method: :post  %>

          </div>
        </div>
      </div>
    </section>
